.card-container {
  margin-bottom: 48px;
}
.card {
  width: 300px;
  background-color: var(--color-secondary);
  margin: 16px auto 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: whitesmoke;
  transform: translate(0);
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: translate(-8px, -8px);
  box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.1);
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}

.card__image {
  border-radius: 16px 16px 0 0;
}
